@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
    --cor-primaria: #151515;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --black: #000000;
    --font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-primaria);
}

.header {
  padding: 4% 15%;
}

.header__nav {
  display: flex;
  gap: 5rem;
}

.nav__item {
  color: var(--cor-terciaria);
  text-decoration: none;
  font-family: var(--font);
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  transition: 0.3s;
}

.nav__item:hover {
  color: var(--cor-secundaria);
}

.main {
  display: flex;
  font-family: var(--font);
  font-weight: 400;
  font-style: normal;
  padding: 5% 15%;
  align-items: center;
  justify-content: space-between;
}

h1 strong {
  color: var(--cor-terciaria);
}

.main__section {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.h1 {
  font-size: 2.25rem;
  color: var(--cor-secundaria);
}

.p {
  font-size: 1.5rem;
  font-family: var(--font);
  font-weight: 300;
  font-style: normal;
  color: var(--cor-secundaria);
}

.main__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.main__links__h2 {
  font-weight: 300;
  font-size: 1.6rem;
  color: var(--cor-secundaria);
}

.main__link {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main__link a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  transition: 0.3s;
  transform: 0.5s;
  border-radius: 12px;
  border: 2px solid var(--cor-terciaria);
  width: 220px;
  height: 50px;
  text-align: center;
  align-content: center;
  text-decoration: none;
  color: var(--cor-secundaria);
  font-size: 24px;
}

.main__link a:hover {
  background-color: var(--cor-terciaria);
  color: var(--black);
  transform: scale(1.2);
}

.img {
    width: 50%;
}

.footer__text {
  color: var(--black);
  background-color: var(--cor-terciaria);
  padding: 20px;
  text-align: center;
  font-family: var(--font);
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

@media (max-width: 1050px){

    .header {
        padding: 4% 15%;
    }

    .header__nav {
        justify-content: center;
        gap: 10rem;
    }

    .nav__item {
        font-size: 32px;
    }

    .main {
        flex-direction: column-reverse;
        gap: 5rem;
        padding: 5%;
    }

    .main__section {
        width: auto;
    }
}

@media (max-width: 560px) {
    .header__nav {
        gap: 10%;
    }

    .img {
        width: 100%;
    }
}

@media (max-width: 366px) {
    .header__nav {
        flex-direction: column;
    }
}